*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; color: #1a1a1a;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

a{text-decoration: none;}

#header{height: 64px; display: flex; justify-content: center; border-bottom: 1px solid gray;}
.section{width: 1720px; margin: 0 auto;}
.section h2{margin: 60px auto; text-align: center; font-size: 42px; font-weight: 900; color: #1a1a1a;}

#header-area{width: 1720px; height: 100%; display: flex; align-items: center; justify-content: space-between;}

#header-area > img{width: 128px;}

#header-area button{margin: 0;}

#footer{height: 200px; background-color: #e4e4e4; display: flex; flex: 1 1 15%; justify-content: center; align-items: center;}

#footer a{text-decoration: none; color: #333; padding: 20px;}

/*  */
/* #body{height: 100%; width: 1024px; margin: 0 auto;} */

#body>h2{margin-top: 16px;}

#banner img{width: 100%;}

#product-list{display: flex; flex-wrap: wrap; flex-direction: row-reverse}
#product-list2{display: flex; flex-wrap: wrap; flex-direction: row-reverse}

.product-card{width: 413px; height: 763px; margin-right: 20px; margin-bottom: 12px; border: 1px solid rgba(230, 230, 230, 1); border-radius: 12px; overflow: hidden;}

/* .product-card:last-child{margin: 0;} */
.product-card:first-child{margin: 0;}

.product-img{width: 100%;}

.product-content{display: flex; flex-direction: column; padding: 8px;}

.product-name{font-size: 16px;}

.product-price{font-size: 22px; font-weight: 500; margin-top: 4px;}

.product-footer{display: flex; justify-content: space-between; align-items: center; margin-top: 12px;}

.product-date{font-size: 12px; color: #889;}

.product-seller{display: flex; align-items: center; margin-top: 12px;}

.product-avatar{width: 22px;}

.product-avatar{width: 24px;}

/* Link css */
.product-link{color: #333; text-decoration: none;}
/*  */

